<div class="container my-4">
  <div class="row">
    <div class="col-6 offset-3">
      <h2 class="d-flex justify-content-center">Setting</h2>
      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :default_location, collection: @locations, as: :radio_buttons, label_method: :full_label %>
          <%= f.simple_fields_for :locations do |p| %>
            <%= p.input :address %>
          <% end %>
          <%= f.input :radius, input_html: { value: 1 }, collection: 0..5, label: "Distance from your default location (km)" %>
          <%= f.input :preference,
                      hint: "we will let the kitchens know your preferences",
                      required: false %>
          <br>
          <h2 class="d-flex justify-content-center">Edit Profile</h2>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :first_name,
                      required: true %>
          <%= f.input :last_name,
                      required: true %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Update", class: "btn btn-long" %>
        </div>
      <% end %>
      <br>
      <%= link_to "Back", root_path,  class: "btn btn-secondery" %>
    </div>
  </div>
</div>