<!-- 5 days plan card (start)-->
<div class="container weekly-plan-card mb-4">
  <div class="d-flex flex-row">
    <div class="p-2 bd-highlight">
      <h2><%= @plan.name %></h2>
        <!-- link to edit plan -->
      <% if @plan.kitchen.user == current_user %>
        <%= render 'plans/edit_form' %>
      <% end %>
      <!-- link to edit plan -->
      <p><%= @plan.description %></p>
    </div>

    <div class="p-2 bd-highlight flex-grow-1"></div>
    <!-- <div class="p-2 bd-highlight flex-grow-1"></div> -->
    <div class="mt-2 ">
      <%= render 'orders/form' %>
    </div>
    <%= render 'shared/plancard' %>
  </div>


  </div>
</div>
<!-- 5 days plan card (finish)-->
