<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex align-self-end">
      <div><%= image_tag "Bentomo-logo.svg" %></div>
      <h2 class="mx-3 logo-text">Bentomo</h2>
    </div>
  <% end %>
  <!-- button for responsive (start)-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- button for responsive (finish)-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex">
      <!-- search button start -->
      <%= simple_form_for :search, url: kitchens_path, method: "GET" do |f| %>
        <div class="input-group-prepend"><i class="fa fa-search"></i>
        </div>
        <%= f.input :query, label: false, input_html: {class: 'form-control', value: (params[:search][:query] if params[:search])}, placeholder: "Find a kitchen" %>
        <!-- <button type="submit"></i></button> -->
      <% end %>
      <!-- search button end -->
      <!-- location button start -->
      <% if user_signed_in? %>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-map-marker-alt"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= simple_form_for(current_user) do |f| %>
              <div class="form-inputs dropdown-item">
                <%= f.input :default_location, collection: current_user.locations, as: :radio_buttons, label_method: :full_label %>
                <%= f.button :submit, "Update", class: "btn btn-long" %>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="dropdown">
          <a href="<%= new_user_session_path %>" %>
            <i class="fa fa-map-marker-alt"></i>
          </a>
        </div>
      <% end %>
      <!-- location button start -->
      <!-- my order start -->
      <div><%= link_to "My orders", orders_path, class: "nav-link navbar-text" %></div>
      <!-- my order end -->
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.present? %>
              <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag 'bento.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <p class="m-3 ml-1">Hi, <%= current_user.first_name %></p>
              <%= link_to "Setting", edit_user_path(current_user), class: "dropdown-item navbar-text" %>
              <% if current_user.kitchen.present? %>
                <%= link_to "My kitchen", kitchen_path(current_user.kitchen), class: "dropdown-item navbar-text" %>
              <% else %>
                <%= link_to "Create a kitchen", new_kitchen_path, class: "dropdown-item navbar-text" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item navbar-text" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link navbar-text" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>