<div class="row mt-5">
  <% @plans.each do |plan|%>
    <div class="col-md-4 col-sm-6 col-sm-12">
      <div class="card-trip-home">
        <%= cl_image_tag plan.photo %>
        <div class="card-trip-infos">
          <div>
            <h4 class="tab-text-content"><%= link_to plan.name, plan_path(plan) %></h4>
            <p><%= plan.description%></p>
          </div>
          <%= image_tag "hw4.jpg", class:"card-trip-user avatar-bordered" %>
        </div>
        <div class="mx-3 d-flex justify-content-between">
          <div>
            <% plan.tag_list.each do |tag| %>
              <%= link_to '#'+tag, plans_tagged_path(tag: tag), class: "tab-text-tag" %>
            <% end %>
          </div>
          <h5><%=humanized_money_with_symbol(plan.price)%></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>