<div class="cards plancard">
  <div class="card-category plancard-each" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @kitchen.photo %>')">
    Monday
    <div class="plan-info">name</div>
  </div>

  <div class="card-category plancard-each" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @kitchen.photo %>')">
    Tuesday
    <div class="plan-info">name</div>
  </div>

  <div class="card-category plancard-each" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @kitchen.photo %>')">
    Wednesday
    <div class="plan-info">name</div>
  </div>

  <div class="card-category plancard-each" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @kitchen.photo %>')">
    Thursday
    <div class="plan-info">name</div>
  </div>

  <div class="card-category plancard-each" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @kitchen.photo %>')">
    Friday
    <div class="plan-info">name</div>
  </div>
</div>
