<%= simple_form_for[@plan, @order] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :request, placeholder: 'Additional request about your meal' %>
    <%= f.input :amount %>
  </div>
  <div class="form-actions d-flex justify-content-between">
    <%= f.button :submit, class: "btn-flat" %>
    <%= link_to 'Home', plans_path, class: "back-button"%>
  </div>
<% end %>