  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#order_form" data-whatever="@getbootstrap">Make an order</button>
<div class="modal fade" id="order_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make an order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for ([@plan, @order]) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form-inputs">
            <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.text_field :konbini, value: @plan.kitchen.konbini.name, readonly: true %>
            <%= f.text_field :amount, value: @plan.price, readonly: true %>
            <%= f.input :request %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <div class="form-actions d-flex justify-content-between">
              <%= f.button :submit, class: "btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>