<% if user_signed_in? %>
  <!--     <button type="button" class="btn btn-main d-flex align-items-end plan-button" data-toggle="modal" data-target="#order_form" data-whatever="@getbootstrap" id="order-button-width">
    <div class="price-text h5 text-center"><%= humanized_money_with_symbol(@plan.price) %>/day
      <b>ORDER</b>
    </div>
  </button> -->
  <!--   <div class="modal fade" id="order_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Make an order</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
  <div class="form-group">
    <%= simple_form_for ([@plan, Order.new]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, label:'Dates' %>
        <%#= f.text_field :konbini, value: @plan.kitchen.konbini.name, readonly: true %>
        <%#= f.input :konbini, as: :string, required: false, input_html: { value:@plan.kitchen.konbini.name}, label:'Pickup konbini', disabled: true %>
        <%#= f.input :amount, as: :integer, required: false, input_html: { value:@plan.price}, label:'Price', disabled: true %>
        <%#= f.input :preference, as: :text, required: false, input_html: { value: current_user.preference}, label:'Your preference', disabled: true %>
        <%#= f.text_field :preference, value: current_user.preference, readonly: true, label: 'Your reference'%>
        <%#= f.input :request, as: :text, required: false, label:'Other request',placeholder:'input your other request' %>
        <%= f.button :submit, label: "Make Order", class: "btn btn-main d-flex align-items-start plan-button" %>
      </div>
      <!--       <div>
        <h3>Order Details Confirmation</h3>
        <p>Plan Name: <%#= @plan.name %></p>
        <p>Pickup Location: <%#= @plan.kitchen.konbini.name %></p>
        <%#= render 'shared/map' %>
        <p>Price per Day: <%= humanized_money_with_symbol(@plan.price) %></p>
        <p>Preference: <%= current_user.preference %></p>
      </div> -->
    </div>
  <% end %>
</div>
<% else %>
  <div class="d-flex align-items-end">
    <%= link_to humanized_money_with_symbol(@plan.price)+'/day ORDER', new_user_session_path, class:'btn btn-main' %>
  </div>
<% end %>