<% if user_signed_in? %>
  <button type="button" class="btn btn-main d-flex align-items-end" data-toggle="modal" data-target="#order_form" data-whatever="@getbootstrap">
    <div class="price-text"><%= humanized_money_with_symbol(@plan.price) %>/day</div>
    <b>ORDER</b>
  </button>
  <div class="modal fade" id="order_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Make an order</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for ([@plan, Order.new]) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">
              <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, label:'Dates', placeholder:'Choose from the calendar' %>
              <%#= f.text_field :konbini, value: @plan.kitchen.konbini.name, readonly: true %>
              <%= f.input :konbini, as: :string, required: false, input_html: { value:@plan.kitchen.konbini.name}, label:'Pickup konbini', disabled: true %>
              <%= f.input :amount, as: :integer, required: false, input_html: { value:@plan.price}, label:'Price', disabled: true %>
              <%= f.input :preference, as: :text, required: false, input_html: { value: current_user.preference}, label:'Your preference', disabled: true %>
              <%#= f.text_field :preference, value: current_user.preference, readonly: true, label: 'Your reference'%>
              <%= f.input :request, as: :text, required: false, label:'Other request',placeholder:'input your other request' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondery" data-dismiss="modal">Close</button>
              <!-- <div class="form-actions d-flex justify-content-between"> -->
              <%#= f.button :submit, class: "btn-flat" %>
              <!-- </div> -->
              <%= form_tag orders_path do %>
                <%= hidden_field_tag 'plan_id', @plan.id %>
                <%= submit_tag 'Purchase', class: 'btn btn-main' %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="d-flex align-items-end">
  <%= link_to humanized_money_with_symbol(@plan.price)+'/day ORDER', new_user_session_path, class:'btn btn-main' %>
  </div>
<% end %>
