<h1>My Orders</h1>
<h2>Upcoming Orders</h2>
<% @current_orders.each do |order| %>
  <ul>
    <li>Plan: <%= order.plan.name %></li>
    <li>Kitchen: <%= order.plan.kitchen.name %></li>
    <li>Pickup Date: <%= order.date %></li>
    <li>Amount: <%= order.amount %></li>
  </ul>
<% end %>
<h2>Order History</h2>
<% @past_orders.each do |order| %>
  <ul>
    <li>Plan: <%= order.plan.name %></li>
    <li>Kitchen: <%= order.plan.kitchen.name %></li>
    <li>Pickup Date:<%= order.date %></li>
    <li>Amount: <%= order.amount %></li>
  </ul>
<% end %>