<div class="container">
  <h2>My Orders</h2>
  <br>
  <div>
    <!-- ------------------ -->
    <h4>Revieved Orders of My Kitchen</h4>
    <% @received_orders.each do |order| %>
      <ul>
        <li>For <%= order.user.first_name %></li>
        <li>Dates: <%= order.date %></li>
        <li>Preference:<%= order.user.preference %></li>
        <li>Request: <%= order.request %></li>
        <% if ChatRoom.all.select{|chat_room| chat_room.users.include?(current_user) && chat_room.users.include?(order.user)}.empty? %>
          <% @chat_room = ChatRoom.create %>
        <% else %>
          <% @chat_room = ChatRoom.all.select{|chat_room| chat_room.users.include?(current_user) && chat_room.users.include?(order.user)}.first %>
        <% end %>
        <%= render 'chat_rooms/show', chat_room: @chat_room %>
      </ul>
    <% end %>


    <!-- ----------------- -->
    <h4 class="mt-3">Upcoming Orders</h4>
    <% @current_orders.each do |order| %>
      <div class="card-order">
        <!-- photo -->
        <%= cl_image_tag order.plan.photo, class:"card-order-image" %>
        <!-- photo -->
        <!-- plan name and price -->
        <div class="mx-3 order-card">
          <div class="d-flex justify-content-between order-info">
            <h5 class="order-text"><%= link_to order.plan.name, plan_path(order.plan) %></h5>
            <h5><%=humanized_money_with_symbol(order.plan.price)%>/day</h5>
          </div>
          <!-- plan name and price -->
          <div class="d-flex">
            <p class="mr-1">Status: <%= order.state %>
              <% if order.state =='pending' %></p>
              |
              <p class="ml-1" id="pay-btn"><%= link_to 'Pay Now', new_order_payment_path(order) %></p>
            <% end %>
          </p>
        </div>
        <!-- plan name and price -->
        <!-- kitchen name and avatar -->
        <div class="d-flex align-items-center">
          <div class="mr-3 my-2">
            <%= link_to (cl_image_tag order.plan.kitchen.user.photo, class:"card-trip-user-big avatar-bordered-order"), kitchen_path(order.plan.kitchen) %>

            <% if ChatRoom.all.select{|chat_room| chat_room.users.include?(current_user) && chat_room.users.include?(order.plan.kitchen.user)}.empty? %>
              <% @chat_room = ChatRoom.create %>
            <% else %>
              <% @chat_room = ChatRoom.all.select{|chat_room| chat_room.users.include?(current_user) && chat_room.users.include?(order.plan.kitchen.user)}.first %>
            <% end %>
            <%= render 'chat_rooms/show', chat_room: @chat_room %>
          </div>

          <p class="order-kitchen"><%= link_to 'Kitchen: '+order.plan.kitchen.name, kitchen_path(order.plan.kitchen) %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Dates: <%= order.date %></p>
          <p>Total Amount: <%= humanized_money_with_symbol(order.amount) %></p>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <!-- ORDER HISTORY -->
  <h4 class="mt-3">Order History</h4>
  <% @past_orders.each do |order| %>
    <div class="card-order">
      <%= cl_image_tag order.plan.photo, class:"card-order-image" %>
      <div class="mx-3 order-card">
        <div class="d-flex justify-content-between order-info">
          <h5 class="order-text"><%= link_to order.plan.name, plan_path(order.plan) %></h5>
          <h5><%=humanized_money_with_symbol(order.plan.price)%>/day</h5>
        </div>
        <!-- plan name and price -->
        <div class="d-flex align-items-center">
          <div class="mr-3 my-2">
            <%= link_to (cl_image_tag order.plan.kitchen.user.photo, class:"card-trip-user-big avatar-bordered-order"), kitchen_path(order.plan.kitchen) %>
          </div>
          <p class="order-kitchen"><%= link_to 'Kitchen: '+order.plan.kitchen.name, kitchen_path(order.plan.kitchen) %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Dates: <%= order.date %></p>
          <p>Total Amount: <%= humanized_money_with_symbol(order.amount) %></p>
        </div>
      </div>
    </div>
  <% end %>
