<div class="container">
  <h2>My Orders</h2>
  <br>
  <div>
    <!-- ------------------ -->
    <% if current_user.kitchen.present? %>
      <h4>Revieved Orders of My Kitchen</h4>
      <% @received_orders.each do |order| %>
        <div class="card-order">
          <%= cl_image_tag order.plan.photo, class:"card-order-image" %>
          <div class="mx-3 order-card">
            <!-- plan name and order date - START -->
            <div class="d-flex justify-content-between order-info">
              <h5 class="order-text"><%= link_to order.plan.name, plan_path(order.plan) %></h5>
              <div class="d-flex">
                <p class="mr-2">Dates: </p>
                <% order.date.split(', ').each do |order| %>
                  <div class="day-dot mx-1 px-1 d-flex justify-content-center">
                    <p class="ml-1">
                      <% weeks = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
                      <%= weeks[order.to_date.wday - 1] %>
                    </p>
                    <p class="text-center ml-1"> - <%= order.to_date.day %></p>
                    <p class="mx-1 kill-margin">
                      <% months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
                      <%= months[order.to_date.month - 1] %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- plan name and order date - END -->
            <div class="d-flex flex-column">
              <div class="d-flex align-items-end">
                <div class="my-2">
                  <%= cl_image_tag order.user.photo, class: "card-trip-user-big avatar-bordered-order" %>
                </div>
                <div class="d-flex flex-column">
                  <p>For <%= order.user.first_name %></p>
                  <% if !order.chat_room.nil? %>
                    <%= render 'chat_rooms/show', chat_room: order.chat_room %>
                  <% end %>
                </div>
              </div>
              <div class="mt-3">
                <p>Preference:<%= order.user.preference %></p>
                <p>Request: <%= order.request %></p>
              </div>
            </div>
            <!-- !!! -->
          </div>
        </div>
      <% end %>
    <% end %>
    <br>
    <!-- ----------------- -->
    <div class="d-flex align-items-end">
      <h4 class="mt-3 mr-3">Upcoming Orders</h4>
      <h4> | </h4>
      <h4><a href="#history" class="ml-3 history-btn">Order History</a></h4>
    </div>
    <% @current_orders.each do |order| %>
      <div class="card-order">
        <!-- photo -->
        <%= cl_image_tag order.plan.photo, class:"card-order-image" %>
        <!-- photo -->
        <!-- plan name and price -->
        <div class="mx-3 order-card">
          <div class="d-flex justify-content-between order-info">
            <h5 class="order-text">
              <b><%= link_to order.plan.name, plan_path(order.plan) %></b>  by <b><%= link_to order.plan.kitchen.name, kitchen_path(order.plan.kitchen) %></b>
            </h5>
            <h5><%=humanized_money_with_symbol(order.plan.price)%>/day</h5>
          </div>
          <!-- plan name and price -->
          <!-- plan name and price -->
          <!-- kitchen name and avatar and chat-->
          <div class="d-flex flex-column">
            <div class="d-flex align-items-end">
              <div class="my-2">
                <%= link_to (cl_image_tag order.plan.kitchen.user.photo, class: "card-trip-user-big avatar-bordered-order"), kitchen_path(order.plan.kitchen) %>
              </div>
              <div class="d-flex flex-column">
                <!-- <p class="order-kitchen"><%#= link_to 'Kitchen: '+order.plan.kitchen.name, kitchen_path(order.plan.kitchen) %></p> -->
                <!-- chatroom -->
                <% if !order.chat_room.nil? %>
                  <%= render 'chat_rooms/show', chat_room: order.chat_room %>
                <% end %>
                <!-- chatroom -->
              </div>
              <!-- kitchen name and avatar and chat-->
            </div>
            <div class="d-flex justify-content-between mt-3">
              <p>Pickup Location: <%= order.plan.kitchen.konbini.name %></p>
              <div class="d-flex">
                <p class="mr-1">Status: <%= order.state %>
                  <% if order.state =='pending' %></p>
                  |
                  <p class="ml-1" id="pay-btn"><%= link_to 'Pay Now', new_order_payment_path(order) %></p>
                <% end %>
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <p class="mr-2">Dates: </p>
              <% order.date.split(', ').each do |order| %>
                <div class="day-dot mx-1 px-1 d-flex justify-content-center">
                  <p class="ml-1">
                    <% weeks = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
                    <%= weeks[order.to_date.wday - 1] %>
                  </p>
                  <p class="text-center ml-1"> - <%= order.to_date.day %></p>
                  <p class="mx-1 kill-margin">
                    <% months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
                    <%= months[order.to_date.month - 1] %>
                  </p>
                </div>
              <% end %>
            </div>
            <p>Total Amount: <%= humanized_money_with_symbol(order.amount) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <!-- ORDER HISTORY -->
  <h4 class="mt-3" id="history">Order History</h4>
  <% @past_orders.each do |order| %>
    <div class="card-order">
      <%= cl_image_tag order.plan.photo, class:"card-order-image" %>
      <div class="mx-3 order-card">
        <div class="d-flex justify-content-between order-info">
          <h5 class="order-text"><b><%= link_to order.plan.name, plan_path(order.plan) %></b>  by <b><%= link_to order.plan.kitchen.name, kitchen_path(order.plan.kitchen) %></b></h5>
          <h5><%=humanized_money_with_symbol(order.plan.price)%>/day</h5>
        </div>
        <!-- plan name and price -->
        <div class="d-flex align-items-end">
          <div class="mr-1 my-2 d-flex justify-content-between align-items-end" style="width: 100%;">
            <%= link_to (cl_image_tag order.plan.kitchen.user.photo, class:"card-trip-user-big avatar-bordered-order"), kitchen_path(order.plan.kitchen) %>
            <div class="dropleft">
              <button class="dropdown-toggle btn pay-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order again
              </button>
              <div class="dropdown-menu order-again-form" aria-labelledby="dropdownMenuButton">
                <a class="flatpickr-calendar.open" href="#"><%= render 'orders/form' , plan: order.plan %></a>
              </div>
            </div>
          </div>
          <!--  <p class="order-kitchen"><%#= link_to 'Kitchen: '+order.plan.kitchen.name, kitchen_path(order.plan.kitchen) %></p> -->
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <p class="mr-2">Dates: </p>
            <% order.date.split(', ').each do |order| %>
              <div class="day-dot mx-1 px-1 d-flex justify-content-center">
                <p class="ml-1">
                  <% weeks = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
                  <%= weeks[order.to_date.wday - 1] %>
                </p>
                <p class="text-center ml-1"> - <%= order.to_date.day %></p>
                <p class="mx-1 kill-margin">
                  <% months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
                  <%= months[order.to_date.month - 1] %>
                </p>
              </div>
            <% end %>
          </div>
          <p>Total Amount: <%= humanized_money_with_symbol(order.amount) %></p>
        </div>
      </div>
    </div>
  <% end %>