<h1>My Orders</h1>
<h2>Upcoming Orders</h2>
<% @coming_orders.each do |order| %>
  <ul>
    <li><%= order.plan.name %></li>
    <li>From kitchen <%= order.plan.kitchen.name %></li>
    <li><%= order.date %></li>
    <li><%= order.amount %></li>
  </ul>
<% end %>
<h2>Order History</h2>
<% @history_orders.each do |order| %>
  <ul>
    <li><%= order.plan.name %></li>
    <li>From kitchen <%= order.plan.kitchen.name %></li>
    <li><%= order.date %></li>
    <li><%= order.amount %></li>
  </ul>
<% end %>
