<h1>Order Confirmation</h1>
<div class="container">
  <div class="form-group">
    <label for="start-date" class="col-form-label">Start Date:</label>
    <%= @order.date %>
  </div>
  <div class="form-group">
    <label for="konbini" class="col-form-label">Pickup Location: <%= @order.plan.kitchen.konbini %></label>
  </div>
  <div class="form-group">
    <label for="request" class="col-form-label">Request: <%= @order.request %></label>
  </div>
  <div class="form-group">
    <label for="amount" class="col-form-label">Amount: <%= humanized_money_with_symbol(@order.amount) %></label>
  </div>
  <%= link_to "Edit", edit_order_path(@order) %>
</div>
