<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
  <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">

    <form novalidate="novalidate" class="simple_form search  banner-search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group mb-4" style="width: 60vw;">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Enter keywords here"/>
        <button name="button" type="submit" class="btn btn-search">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>

  </div>
</div>
<!-- above are banner! -->

<div class="container">

  <!-- TAB SECTION START -->
  <!-- TAB -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="tab-text nav-link active" id="kitchen-tab" data-toggle="tab" href="#kitchen" role="tab" aria-controls="kitchen" aria-selected="true">Kitchens</a>
    </li>
    <li class="nav-item">
      <a class="tab-text nav-link" id="plan-tab" data-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="false">Plans</a>
    </li>
  </ul>

  <!-- CONTENT -->
  <div class="tab-content" id="myTabContent">
    <!-- kitchen content -->
    <div class="tab-pane show active" id="kitchen" role="tabpanel" aria-labelledby="kitchen-tab">

      <div class="row mt-3">
        <% @kitchens.each do |kitchen|%>
          <div class="col-md-4 col-sm-6 col-sm-12">
            <div class="card-trip-home">
              <%= cl_image_tag(kitchen.photo) %>
              <div class="card-trip-infos">
                <div>
                  <h4 class="tab-text-content"><%= link_to kitchen.name, kitchen_path(kitchen) %></h4>

                </div>
                <%= cl_image_tag kitchen.user.photo, class:"card-trip-user-big avatar-bordered" %>
              </div>
              <div class="mx-3">
                <% kitchen.plans.each do |plan|
                  plan.tag_list.each do |tag| %>
                    <%= link_to '#'+tag, plans_tagged_path(tag: tag), class: "tab-text-tag" %>
                  <% end %>
                <% end %>
              </div>
              <!-- <div class="mx-3">
                <% kitchen.plans.each do |plan| %>
                  <%= link_to plan.name,  plan_path(plan), class: "btn btn-short"%>
                <% end %>
              </div> -->
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <p class="btn btn-secondery mx-auto my-3"><%= link_to "more kitchens", kitchens_path %></p>
      </div>
    </div>

    <!-- plan content -->
    <div class="tab-pane" id="plan" role="tabpanel" aria-labelledby="plan-tab">

      <%= render 'shared/plancard_index' %>

      <div class="d-flex justify-content-center">
        <p class="btn btn-secondery mx-auto my-3"><%= link_to "more plans", plans_path %></p>
      </div>
    </div>
  <!-- TAB SECTION END -->

</div>
