<!-- banner in kitchen (start)-->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @kitchen.photo %>');">
  <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
    <h2 class="white banner-name"><%= @kitchen.name %></h2>
    <!-- link to edit kitchen -->
    <%= render 'shared/edit_form' %>
    <!-- link to edit kitchen -->
    <p class="banner-p text-break"><%= @kitchen.description %> </p>
    <%= cl_image_tag @kitchen.user.photo, class: "avatar-extra-large" %>
  </div>
</div>
<!-- banner in kitchen (finish)-->
<div class="container">
  <!-- fivedays_card (start) -->
  <div class="mb-3">
    <h2>Plans</h2>
    <%= render 'plans/new' %>
    <% @kitchen.plans.each do |plan| %>
      <% @plan=plan %>
      <br>
      <%= render 'shared/fivedays_card' %>
    <% end %>
  </div>
  <!-- fivedays_card (end) -->
</div>
<!-- this is for meals|owner view only (start)-->
<div class="container">
  <h2 class="mt-5">Dishes</h2>
  <%= render 'dishes/new' %>
  <div class="row my-5">
    <% @kitchen.dishes.each do |dish|%>
      <div class="col-lg-2 col-md-4 col-sm-12">
        <div class="card-trip-dish">
          <%= cl_image_tag dish.photo,width: 200, height: 200, crop: :fill %>
          <h2 class="mx-1"><%= dish.name %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- this is for meals|owner view only (start)-->
<!-- this is for map (start)-->
<div class="container">
  <h2>Pick up location</h2>
  <i class="fa fa-map-marker-alt"></i> <%= @kitchen.konbini.name %>
</div>
<!-- this is for map (fin)-->