<div class="container">
  <div class="d-flex my-4">
    <h3><i class="fas fa-utensils"></i></h3>
    <h2 class="mx-3">Find Your Bento</h2>
  </div>
  <!-- search bar & filter start-->
  <div class="row mb-5">
    <div class="col">
      <%= simple_form_for :search, url: kitchens_path, method: "GET" do |f| %>
        <%= f.input :query, label: 'Search', input_html: {class: 'form-control', value: (params[:search][:query] if params[:search])}, placeholder: "Find a kitchen" %>
        <%  ActsAsTaggableOn::Tag.most_used(10).map do |tag|%>
          <% if @tags.nil? %>
            <%= check_box_tag 'search[tags][]', tag.name, false %>
          <% else %>
            <%= check_box_tag 'search[tags][]', tag.name, (params[:search] ? params[:search][:tags].include?(tag.name) : false) %>
          <% end %>
          <%= tag.name %> &nbsp;&nbsp;
        <% end %>
        <br>
        <div class="my-3">
          <%= f.submit "Search", class: "btn btn-main" %>
          <%= link_to "Reset", kitchens_path, class: "btn btn-secondery" %>
        </div>
      <% end %>
    </div>
    <!-- search bar & filter end-->
    <!-- insert map -->
    <div class="col">
      <div
      id="map"
      style="height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
  <!-- insert map -->
  <!-- search bar & filter end-->
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="
  font-size: large;
  font-weight: bold;">
      <li class="nav-item">
        <a class="tab-text nav-link active" id="kitchen-tab" data-toggle="tab" href="#kitchen" role="tab" aria-controls="kitchen" aria-selected="true">Kitchens</a>
      </li>
      <li class="nav-item">
        <a class="tab-text nav-link" id="plan-tab" data-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="false">Meal Plans</a>
      </li>
    </ul>
    <!-- CONTENT -->
    <div class="tab-content" id="myTabContent">
      <!-- kitchen content -->
      <div class="tab-pane show active" id="kitchen" role="tabpanel" aria-labelledby="kitchen-tab">
        <%= render 'shared/kitchencard_index' %>
      </div>
      <div class="tab-pane" id="plan" role="tabpanel" aria-labelledby="plan-tab">
        <div class="row mt-3">
          <%= render 'shared/plancard_index' %>
        </div>
      </div>
    </div>