<h2>Kitchen <%= @kitchen.name %></h2>
<%= cl_image_tag @kitchen.photo, width: 400, height: 300, crop: :fill %>

<% @kitchen.plans.each do |plan| %>
  <!-- plan details -->
  <h4>Plan: <%= plan.name  %></h4>
  <%= plan.price  %>

  <!-- dishes details -->
  <h4>Dishes of the plan: </h4>
  <ol>
      <% plan.dishes.each do |dish| %>
      <li><h5><%= dish.name %></h5></li>
      <%= cl_image_tag dish.photo, width: 200, height: 100, crop: :fill %>
    <% end %>
  </ol>

<% end %>


<!-- this is for map (st)-->
<h4>Pick up location:</h4>
<%= @kitchen.konbini %>
<!-- this is for map (fin)-->

<br>
<%= link_to "other kitchens", kitchens_path, class: "btn-secondery" %>
