<% if current_user == @kitchen.user %>
  <%= render 'show_housewife' %>
<% else %>
  <!-- overall condition: current user is not kitchen owner-->
  <!-- banner in kitchen (start)-->
  <% if @kitchen.video.nil? %>
    <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @kitchen.photo %>');">
      <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
        <h2 class="white banner-name"><%= @kitchen.name %></h2>
        <p class="banner-p text-break"><%= @kitchen.description %></p>
        <%= cl_image_tag @kitchen.user.photo, class: "avatar-extra-large" %>
      </div>
    </div>
  <% else %>
    <!-- <iframe class="header-bg-video" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="260" src="https://youtu.be/6RuShc7NSV4?t=20" id="widget2"></iframe> -->
    <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @kitchen.video%>');">
      <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
        <h2 class="white"><%= @kitchen.name %></h2>
        <p class="banner-p text-break"><%= @kitchen.description %></p>
        <%= cl_image_tag @kitchen.user.photo, class: "avatar-extra-large" %>
      </div>
    </div>
  <% end %>
  <!-- banner in kitchen (finish)-->
  <!-- fivedays_card (start) -->
  <!-- !!!!!!!!!! -->
  <% @kitchen.plans.each_with_index do |plan, index| %>
    <div class="container">
      <div class="accordion" id="accordionExample">
        <!-- drop down head (start) -->
        <div class="dropdown-card-header card-header d-flex justify-content-between" id="headingOne">
          <button class="btn dropdown-long" type="button" data-toggle="collapse" data-target="#plan<%= index %>" aria-expanded="true" aria-controls="collapseOne">
            <!-- plan name and price (start) -->
            <div class="d-flex align-self-end justify-content-between">
              <h2 class="mr-3 dropdown-text"><%= plan.name %></h2>
              <h3 class="dropdown-price">¥ <%= plan.price %> /day</h3>
            </div>
            <!-- plan name and price (end) -->
          </button>
        </div>
      </div>
      <!-- drop down head (end) -->
      <!-- drop down body (start) -->
      <div id="plan<%= index %>" class="collapse  <%= index==0 ? "show": "" %>" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="weekly-plan-card">
          <div class="p-2 bd-highlight">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <p class="ml-3 mt-4 font-weight-bold">Plan description:</p>
                <p class="ml-1 mt-4"><%= plan.description %></p>
              </div>
              <%= render 'orders/form' , class: "mt-5" %>
            </div>
            <h3 class="plancard-text ml-3">Bento Schedule :</h3>
          </div>
          <div class="p-2 bd-highlight flex-grow-1 mx-3">
            <%= render 'shared/plancard' %>
          </div>
        </div>
      </div>
      <!-- drop down body (end) -->
    </div>
  <% end %>
  <!-- !!!!!!!!!! -->
  <br>
  <div class="container">
    <div class="row no-gutters mt-4">
      <div class="col-12 col-sm-12 col-md-6 px-2">
        <div class="container">
          <h2>Pick up location</h2>
          <i class="fa fa-map-marker-alt"></i> <%= @kitchen.konbini.name %>
        </div>
        <div class="container my-3 d-flex justify-content-between">
          <div
              id="map"
              style="width: 500px;
              height: 250px;"
              data-markers="<%= @marker.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
              data-location="<%= @user_location.to_json %> "
            ></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="container">
          <h2>Review</h2>
          <%= render 'reviews/form' %>
          <!-- this is for showing review -->
          <p class="review-comment mt-4">Review comment</p>
          <div class="scroll">
            <% @kitchen.reviews.each do |review| %>
              <div class="d-flex align-self-start">
                <% if review.user.photo.present? %>
                  <%= cl_image_tag review.user.photo, class: "avatar" %>
                <% else %>
                  <%= image_tag "konbini.jpg", class: "avatar" %>
                <% end %>
                <div>
                  <h6 class="m-2 pt-2"><%= review.user.first_name %> <%= review.user.last_name %></h6>
                  <p class="m-2"><%= review.content %></p>
                  <p class="m-2">
                    <% review.rating.to_i.times do  %>
                      <i class="fas fa-star bento-star"></i>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- this is for adding review -->
  <!-- this is for map (fin)-->
  <br>
  <div class="container text-center">
    <%= link_to "other kitchens", kitchens_path, class: "btn btn-secondery" %>
  </div>
  <!-- overall condition -->
<% end %>
