<!-- banner in kitchen showpage (start)-->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @kitchen.photo %>');">
  <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
    <h2 class="white"><%= @kitchen.name %></h2>
    <%= cl_image_tag @kitchen.user.photo, class: "avatar-extra-large" %>
  </div>
</div>
<!-- banner in kitchen showpage (finish)-->


<% @kitchen.plans.each do |plan| %>
  <!-- plan details -->
  <h4>Plan: <%= plan.name  %></h4>
  <%= plan.price  %>

  <!-- dishes details -->
  <h4>Dishes of the plan: </h4>
  <ol>
      <% plan.dishes.each do |dish| %>
      <li><h5><%= dish.name %></h5></li>
      <%= cl_image_tag dish.photo, width: 200, height: 100, crop: :fill %>
    <% end %>
  </ol>

<% end %>


<!-- this is for map (st)-->
<h4>Pick up location:</h4>
<%= @kitchen.konbini %>
<!-- this is for map (fin)-->

<br>
<%= link_to "other kitchens", kitchens_path, class: "btn-secondery" %>
