<!-- banner in kitchen (start)-->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @kitchen.photo %>');">
  <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
    <h2 class="white"><%= @kitchen.name %></h2>
    <p class="banner-p text-break"><%= @kitchen.description %></p>
    <%= cl_image_tag @kitchen.user.photo, class: "avatar-extra-large" %>
  </div>
</div>
<!-- banner in kitchen (finish)-->
<div class="row">
  <div class="col">
  </div>
</div>
<div class="container">
  <!-- fivedays_card (start) -->
  <div class="mb-3">
    <h4>Plans</h4>
    <% @kitchen.plans.each do |plan| %>
      <% @plan=plan %>
      <%= render 'orders/form' %>
      <%= render 'shared/fivedays_card' %>
    <% end %>
  </div>
  <!-- fivedays_card (finish) -->
  <!-- <% @kitchen.plans.each do |plan| %> -->
  <!-- plan details -->
  <!--   <h4>Plan: <%= plan.name  %></h4>
    <%= humanized_money_with_symbol(plan.price)  %> -->
  <!-- dishes details -->
  <!--   <h4>Dishes of the plan: </h4>
    <ol>
      <% plan.dishes.each do |dish| %>
        <li>
          <h5><%= dish.name %></h5>
        </li>
        <%= cl_image_tag dish.photo, width: 200, height: 100, crop: :fill %>
      <% end %>
    </ol>
  <% end %> -->
  <!-- this is for map (st)-->
  <br>
  <h4>Pick up location</h4>
  <%= '  ----'+@kitchen.konbini.name %>
  <div class="container my-3 d-flex justify-content-between">
    <div
        id="map"
        style="width: 1110px;
        height: 250px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>
  <!-- this is for map (fin)-->
  <br>
  <%= link_to "other kitchens", kitchens_path, class: "btn-secondery" %>
  <%= link_to "New Plan", new_kitchen_plan_path(@kitchen), class: "btn btn-flat" %>
</div>