<div class="container">
  <div class="d-flex flex-column">
    <h3 class="ml-3 mt-3 font-weight-bold plancard-text">Dish name: </h3>
    <h3 class="ml-3 mb-3 plancard-text-thin"><%= name %></h3>
  </div>
  <div class="d-flex flex-column">
    <h3 class="ml-3 mt-2 font-weight-bold plancard-text">Ingredients: </h3>
    <div class="d-flex flex-column">
      <% ingr.split(', ').each do |i| %>
        <h3 class="ml-3 mb-3 plancard-text-thin"><%= i %></h3>
      <% end %>
    </div>
  </div>
  <%= simple_form_for([kitchen, dish]) do |f| %>
    <h3 class="ml-3 mt-2 font-weight-bold plancard-text"><%= f.input :photo, class: "btn btn-sm" %></h3>
    <%= f.input :photo_cache, as: :hidden, required: true%>
    <%= f.input :name, input_html: { value: name }, as: :hidden  %>
    <%= f.input :ingr, input_html: { value: calories }, as: :hidden  %>
    <%= f.input :calories, input_html: { value: ingr }, as: :hidden  %>
    <%= f.input :fat, input_html: { value: fat }, as: :hidden  %>
    <%= f.input :carbs, input_html: { value: carbs }, as: :hidden  %>
    <%= f.input :protein, input_html: { value: protein }, as: :hidden  %>
    <%= hidden_field_tag 'kitchen_id', kitchen.id %>
    <%= f.submit 'Create', class: 'btn btn-main ml-3' %>
  <% end %>
</div>