<h2 class="container d-flex justify-content-center mt-5"><i class="fas fa-cart-plus"></i>Order Confirmation</h2>

<div class="container" style="border: 1px solid gray;">
  <div class="row no-gutters mt-5">
    <div class="col-12 col-sm-12 col-md-6 my-3" style="
    padding-left: 70px; padding-right: 50px;">
      <h5><b>Plan Name :</b> <%= @order.plan.name %></h5>
      <h5><b>From :</b> <%= @order.plan.kitchen.name %></h5>
      <h5><b>Dates :</b> <%= @order.date %> (<%= @order.date.split(', ').length %> days)</h5>
      <h5><b>Preference :</b> <%= @order.user.preference %></h5>
      <h5><b>Request :</b> <%= @order.request %></h5>
      <h5><b>Unit Price :</b> <%= humanized_money_with_symbol(@order.plan.price) %>/day</h5>
      <h5><b>Total Amount : <%= humanized_money_with_symbol(@order.amount) %></b></h5>
      <h5><b>Pickup Location :</b> <%= @order.plan.kitchen.konbini.name %></h5>
    </div>

    <div class="col-12 col-sm-12 col-md-6" style="
    padding-left: 70px; padding-right: 50px;">
      <div class="container my-3 d-flex justify-content-between">
        <div
            id="map"
            style="width: 400px;
            height: 250px;"
            data-markers="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
      </div>
    </div>
    <div class="container d-flex justify-content-center mb-2">
      <div class="d-flex justify-content-center">
        <%= form_tag order_payments_path(@order) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Plan"
            data-email="<%= current_user.email %>"
            data-description="Plan <%= @order.plan.name %>"
            data-amount="<%= @order.amount_cents %>"
            data-currency="<%= @order.amount.currency %>">
        </script>
          <button type="submit" class="btn btn-long">Purchase</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
