
<button type="button" class="btn btn-main mb-5" data-toggle="modal" data-target="#new_plan_form" data-whatever="@getbootstrap">
  <p class="kill-margin">Create a new plan</p>
</button>

<div class="modal fade" id="new_plan_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Create a new dish</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for ([@kitchen, Plan.new]) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form-inputs">
            <div class="form-inputs">
              <%= f.input :name, placeholder: 'enter you new plans name' %>
              <%= f.input :description, placeholder: 'description your plan'%>
              <%= f.input :tag_list, placeholder: 'enter tags for your plan'%>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondery" data-dismiss="modal">Close</button>
            <%= form_tag orders_path do %>
              <%= hidden_field_tag 'kitchen_id', @kitchen.id %>
              <%= submit_tag 'Create', class: 'btn btn-main' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
