
<h1>Plans</h1>

<!-- search bar & filter start-->
<div class="container">
  <%= simple_form_for :search, url: plans_path, method: "GET" do |f| %>
    <%= f.input :query, input_html: {class: 'form-control', value: (params[:search][:query] if params[:search])}, placeholder: "Find your meal plan" %>

        <%  ActsAsTaggableOn::Tag.most_used(10).map do |tag|%>
          <%= check_box_tag 'search[tags][]', tag.name, (params[:search] ? params[:search][:tags].include?(tag.name) : false) %>
          <%= tag.name %> &nbsp;&nbsp;
        <% end %>
        <br>
      <%= f.submit "Search", class: "btn btn-main" %>
      <%= link_to "Reset", plans_path, class: "btn btn-secondery" %>
  <% end %>
</div>
<!-- search bar & filter end-->


<div class="container">
  <% @plans.each do |plan|%>
    <ul>
      <li><%= plan.name %></li>
      <%= cl_image_tag plan.photo, width: 200, height: 100, crop: :fill %>
      <li><%= plan.description %></li>
      <!-- tags start-->
      <li><% plan.tag_list.each do |tag| %>
        <%= link_to tag, plans_tagged_path(tag: tag) %>
      <% end %></li>
      <!-- tags end-->
      <li><%= plan.price %></li>
      <li><%= link_to "Details", plan_path(plan) %></li>
    </ul>
  <% end %>
</div>

  <%= link_to "check the kitchen", kitchens_path, class: "btn btn-secondery" %>
  <%= link_to "Home", root_path, class: "btn btn-secondery" %>
