<div class="container">
  <h1><%= @plan.name %></h1>
  <h3><%= @plan.price %></h3>
  <% @plan.dishes.each do |dish| %>
      <li><%= dish.name %></li>
      <%= cl_image_tag dish.photo, width: 200, height: 100, crop: :fill %>
    <% end %>
  <%= render 'orders/form' %>
</div>

<br>
  <%= link_to "check the kitchen", kitchen_path(@plan.kitchen), class: "btn-secondery" %>
  <%= link_to "other plans", plans_path, class: "btn-secondery" %>
