<!-- banner in kitchen showpage (start)-->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @plan.photo %>');">
  <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
    <div class="d-flex flex-column">
      <h2 class="white banner-name"><%= @plan.name %></h2>
      <p class="plan-description"><%= @plan.description %></p>
      <!-- <div class="plan-price"><%#= render 'orders/form' %></div> -->
    </div>
    <%= link_to (cl_image_tag @plan.kitchen.user.photo, class: "avatar-extra-large"), kitchen_path(@plan.kitchen) %>
    <%= link_to 'check the kitchen',  kitchen_path(@plan.kitchen), class: 'btn btn-secondery avatar-xl-btn'%>
  </div>
</div>
<!-- banner in kitchen showpage (finish)-->
<div class="container">
  <div class="mt-5 d-flex justify-content-between align-items-end">
    <h2 class="mx-3 pb-3">Weekly <%= @plan.name %> details</h2>
    <%= render 'orders/form'%>
  </div>
  <% @plan.dishes.each_with_index do |dish, i| %>
    <div class="card-product">
      <div class="plancard_long_weekday text-center">
        <%= %w(Mon Tue Wed Thu Fri Sat Sun)[i] %>
      </div>
      <%= cl_image_tag dish.photo %>
      <div class="card-product-infos">
        <h2><%= dish.name %></h2>
        <p>This dish is good for <strong>getting mascular</strong></p>
        <p>Nutrition details</p>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <h4>Pick up location:</h4>
  <i class="fa fa-map-marker-alt"></i> <%= @plan.kitchen.konbini.name %>
  <div class="container my-3 d-flex justify-content-between">
    <div
        id="map"
        style="width: 1110px;
        height: 250px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        data-location="<%= @user_location.to_json %> "
      ></div>
  </div>
</div>
<br>
<!-- other related plans start -->
<div class="container">
  <h4>Other related plans:</h4>
  <div class="row mt-3">
    <% @plans = @related_plans%>
    <%= render 'shared/plancard_index', plans: @related_pans %>
  </div>
</div>

