<!-- banner in kitchen showpage (start)-->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @plan.photo %>');">
  <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
    <div class="d-flex flex-column">
      <h2 class="white"><%= @plan.name %></h2>
      <p class="plan-description"><%= @plan.description %></p>
      <div class="plan-price"><%= render 'orders/form' %></div>
      <%= link_to 'check the kitchen',  kitchen_path(@plan.kitchen), class: 'btn btn-secondary'%>
    </div>

      <%= link_to (cl_image_tag @plan.kitchen.user.photo, class: "avatar-extra-large"), kitchen_path(@plan.kitchen) %>

  </div>
</div>
<!-- banner in kitchen showpage (finish)-->

<div class="container">
  <% @plan.dishes.each do |dish| %>
    <div class="card-product">
      <%= cl_image_tag dish.photo %>
      <div class="card-product-infos">
        <h2><%= dish.name %></h2>
        <p>This dish is good for <strong>getting mascular</strong></p>
        <p>Nutrition details</p>
      </div>
    </div>
  <% end %>
  <div class="m-5"><%= render 'orders/form' %></div>
</div>

<!-- other related plans start -->
<div class="container">
  <h4>Other related plans:</h4>
  <div class="row mt-3">
    <% @plans = @related_plans%>
    <%= render 'shared/plancard_index' %>
  </div>
</div>
<!-- other related plans end.  -->
